@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: Baunk;
    src: url(./Baunk.woff);
}

@font-face {
    font-family: DirtyLine1;
    src: url(./Dirtyline\ 36daysoftype\ 2022.woff);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


p {
    font-size: 1.6rem;
    line-height: 2.5rem;
}

.h1 {
    font-size: 4vw;
    font-family: Baunk;
    color: var(--teal);
    span{
    font-family: Baunk;
    }
}

.h2 {
    font-size: 4rem;
}

.h3 {
    font-size: 2rem;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-c {
    flex-direction: column;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

:root {
    --white: #fff;
    --black: #000;
    --grey: #808080;
    --teal: #008080;
    --coral: #FF7F50;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 0;
}

.header {
    width: 90%;
}

#sample {
    width: 100%;
    height: 100vh;
    /* background-color: #F2F2F2; */
}

html.lenis, html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}

/* Hero */
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.n-menu {
    font-size: 3rem;
    z-index: 1000;
    cursor: pointer;

    &::after {
        background-color: #fff;
    }
}

.n-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    z-index: 1000;
    cursor: pointer;
    color: var(--teal);

    &::after {
        background-color: var(--teal);
    }
}

#navbar {
    width: 10%;
    position: fixed;
    height: 100vh;
    left: -100%;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    transition: all 1.8s ease;
    pointer-events: none;

    ul {
        list-style: none;
    }
}

#navbar.active {
    left: 0;
    width: 100%;
    pointer-events: all;
}

.n-btn {
    font-size: 4vw;
    height: 5vw !important;
    margin: 2rem 0;
    cursor: pointer;
    font-family: Baunk;
    color: var(--teal);
    position: relative;

    span {
        font-family: inherit;
    }
}

.n-btn-outer::after {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    font-family: Baunk;
    left: 50%;
    font-size: 10vw;
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
    content: attr(data-name);
    color: rgb(212, 212, 212);
    z-index: -1;
    transform-origin: bottom;
    transition: all 0.5s ease-in-out;
}

.n-btn-outer:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.nav-main {
    height: 8rem;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease;
    z-index: 99;
    color: #fff;
}

.nav-main.is-down {
    top: -8rem;
}

.nav-main.color {
    background-color: var(--teal);
}

.logo {
    font-size: 2.5rem;

    a {
        font-family: Baunk;
        color: #fff;

        &::after {
            background-color: #fff;
        }
    }

}

img {
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

/* ============ Full Page Slider ================= */
.creative-showcase--slider .swiper-slide {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
}

.creative-showcase--slider .swiper-slide .slide-bg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.creative-showcase--slider .swiper-slide .overlay-dark:before {
    opacity: .3;
    background: #1d1d1d;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.creative-showcase--slider .swiper-slide .video-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.creative-showcase--slider .swiper-slide .video-container video {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
}

.swiper-slide .slide-bg .slide-container {
    max-width: 1320px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 7;
    padding-left: 15px;
    padding-right: 15px;
}

.slide-bg .slide-container .slide-row {
    display: flex;
    flex-wrap: wrap;
}

.slide-container .slide-row .slider-content {
    flex: 0 0 auto;
    width: 91.66666667%;
    margin-left: 8.33333333%;
    padding-left: 15px;
    padding-right: 15px;
}

.slider-content .slide-subtitle {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 30px;
    margin-top: 0px;
}

.slider-content .slide-heading {
    font-size: 100px;
    color: #fff;
    margin: 0px;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: .2rem;
}

.slider-content .slide-heading a {
    text-decoration: none;
    color: #fff;
    outline: none;
}

.slider-content .slide-heading a span {
    display: inline-block;
}

.creative-showcase--slider .creative-button--wrapper .swiper-button-prev,
.creative-showcase--slider .creative-button--wrapper .swiper-button-next {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: auto;
    color: #fff;
    z-index: 9;
    cursor: pointer;
    width: auto;
    bottom: 30px;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: normal;
}

.creative-showcase--slider .creative-button--wrapper .swiper-button-next {
    right: 120px;
}

.creative-showcase--slider .creative-button--wrapper .swiper-button-prev {
    left: 120px;
}

.creative-showcase--slider .creative-button--wrapper .swiper-button-next:after,
.creative-showcase--slider .creative-button--wrapper .swiper-button-prev:after {
    display: none;
}

.creative-showcase--slider .creative-button--wrapper .swiper-button-prev i {
    margin-right: 25px;
}

.creative-showcase--slider .creative-button--wrapper .swiper-button-next i {
    margin-left: 25px;
}

.creative-showcase--slider .banner-horizental .swiper-pagination {
    bottom: 40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: auto;
}

.creative-showcase--slider .banner-horizental .swiper-pagination-bullet {
    background: transparent;
    margin: 0 10px !important;
}

.creative-showcase--slider .banner-horizental .path {
    display: none;
}

.creative-showcase--slider .banner-horizental .swiper-pagination-bullet-active .path {
    display: inline-block !important;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    -webkit-animation: dash linear 10s;
    animation: dash linear 10s;
    -webkit-animation-iteration-count: unset;
    animation-iteration-count: unset;
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

/* Products */
.products-outer {
    width: 100%;
    padding: 5rem 0;
}

.products {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 90%; */
    /* flex-wrap: wrap; */
}

.product-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    width: 400px;
    margin: 2.5rem 0;
}

.product-img {
    width: 100%;
    overflow: hidden;
    position: relative;

    img {
        transition: all .3s ease-in-out;
    }
}

.product-box:hover .product-img img {
    transform: scale(1.1);
}

.product-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0066666b;
    opacity: 0;
    transition: all .5s ease;

    h1 {
        font-size: 5vw;
        transform: scale(2.4);
        transition: all .5s ease;
        color: var(--white);
        font-family: Baunk;
    }
}

.product-box:hover .product-hover {
    opacity: 1;

    h1 {
        transform: scale(1);
    }
}

.product-desc {
    text-align: center;
    padding: 1rem;
    border: 1px solid #ebebeb;
    border-top: none;
    width: 100%;
    transition: all .3s ease;
}

.product-box:hover .product-desc {
    background-color: var(--teal);
    color: var(--white);
    border: 1px solid var(--teal);
    border-top: none;
}

.product-desc h3 {
    font-size: 1.9rem;
    font-weight: 500;
}

.product-show {
    width: 100vw;
    height: 100vh;
    background-color: #0000003d;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: grid;
    place-items: center;
    display: none;
    opacity: 0;

}

.product-show-box {
    width: 90%;
    height: 90vh;
    background-color: var(--white);
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.p-show-img {
    width: 500px;
    height: 600px;
    overflow: hidden;
    border-radius: 1rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.p-show-desc {
    width: 50%;
    padding: 3vw;

    h1 {
        font-size: 4vw;
        font-family: Baunk;
        color: var(--teal);
    }

    h3 {
        font-size: 5vw;
        font-family: Baunk;
        color: var(--coral);
        margin: 2rem 0;
    }
}

.p-show-desc a {
    font-size: 2rem;
    color: var(--teal);
    transition: all .3s ease;
    padding: 1rem 1.5rem;
    font-weight: 500;
    border-radius: 3rem;
    border: 2px solid var(--teal);
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 2rem;
    overflow: hidden;

    &:hover {
        border: 2px solid var(--coral);
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 3rem;
        height: 0%;
        background-color: var(--coral);
        z-index: -1;
        border-radius: 3rem;
        transition: all .3s ease;
    }

    &:hover::after {
        height: 100%;
    }
}

/* Offers */
#offer {
    width: 100%;
    background-image: url(./banner/banner3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.offer {
    width: 100%;
}

.offer-box {
    text-align: center;
    font-size: 4vw;
    overflow: hidden;
    padding: 3rem;

    h1 {
        font-family: Baunk;
        color: var(--white);

        span {
            font-family: Baunk;

            b {
                color: var(--coral);
                font-family: Baunk;
            }

        }
    }
}
/* Services */
.services{
    padding: 7rem 1rem;
    width: 100%;
    flex-wrap: wrap;
}
.services-box{
    width: 300px;
    margin: 3rem 1.5rem;
    flex-direction: column;
    height: 250px;
    text-align: center;
    gap: 1.5rem;
    position: relative;
    cursor: pointer;
}
.services-box div{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    left: 0;
    overflow: hidden;
}
.services-box div::before{
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--teal);
    transform: scale(0.4);
    left: calc(100% - 150px);
    top: calc(100% - 150px);
    z-index: -1;
    border-radius: 50%;
    transition: all 0.5s ease-out;
}
.services-box:hover {
    color: var(--white);
    i{
        color: var(--white);
    }
}
.services-box:hover div::before{
    transform: scale(2.9);
}
.services-box::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    opacity: 0.3;
    z-index: 1;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.services-box:hover::after{
    box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
    opacity: 0.7;
}
.services-box i{
    font-size: 5vw;
    color: var(--teal);
    transition: all 0.3s ease-in-out;
}
.services-box h1{
    font-size: 2.5rem;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.services-box p{
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.services-header{
    width: 90%;
}

/* Media Query */

@media (max-width: 1200px) {

    .p-show-img {
        width: 400px;
        height: 500px;
        overflow: hidden;
        border-radius: 1rem;
    }
}

@media (max-width: 1000px) {
    .p-show-desc h1 {
        font-size: 5vw;
    }

    .p-show-desc h3 {
        font-size: 6vw;
    }

    .p-show-img {
        width: 45%;
        height: auto;
    }

    .offer-box {
        font-size: 6vw;
    }
}

@media (max-width: 991px) {
    .slide-container .slide-row .slider-content {
        flex: 0 0 auto;
        width: 100%;
        margin-left: 0px;
    }

    .slider-content .slide-heading {
        font-size: 72px;
    }

    .creative-showcase--slider .banner-horizental .swiper-pagination {
        display: none;
    }

    .creative-showcase--slider .creative-button--wrapper .swiper-button-prev {
        left: 15px;
    }

    .creative-showcase--slider .creative-button--wrapper .swiper-button-next {
        right: 15px;
    }

    .product-desc h3 {
        font-size: 1.5rem;
    }

    .h1 {
        font-size: 6vw;
    }

}

@media screen and (max-width:900px) {
    .n-btn {
        font-size: 7vw;
        height: 8vw !important;
    }

    .n-close {
        font-size: 2rem;
    }

}

@media screen and (max-width: 767px) {
    .slide-container .slide-row .slider-content {
        padding-left: 0px;
        padding-right: 0px;
    }

    .slider-content .slide-heading {
        font-size: 40px;
    }

    .slider-content .slide-subtitle {
        margin-bottom: 15px;
    }

    .logo {
        font-size: 2rem;
    }

    .n-menu {
        font-size: 2rem;
    }

    .product-hover {

        h1 {
            font-size: 9vw;
        }
    }

    .product-show-box {
        width: 90%;
        height: 90vh;
        flex-direction: column;
    }

    .p-show-desc {
        width: 100%;
        padding: 4vw;
        text-align: center;
    }

    .p-show-img {
        width: 80%;
    }

    .p-show-desc h1 {
        font-size: 8vw;
    }

    .p-show-desc h3 {
        font-size: 7vw;
    }

    .p-show-desc {
        overflow-y: scroll;
    }
    .services-box{
        height: 200px;
    }
    .services-box i {
        font-size: 7vw;
    }
}

@media screen and (max-width: 650px) {
    .product-desc {
        height: 60px;
    }

    .h1 {
        font-size: 9vw;
    }

    .offer-box {
        font-size: 7vw;
    }
    .services-box {
        width: 90%;
    }
    .services-box i {
        font-size: 15vw;
    }
    .services-box div::before {
        transform: scale(0.3);
    }
}